{{ form_start(form, {
    attr : { 'class': 'ajaxForm' } }) }}


<div class="row"></div>
{{ form_row(form.email) }}
        {% if form.plain_password is defined %}
            <div class="col-sm-6">
                {{ form_row(form.plain_password.first, {
                    label: 'Hasło'
                }) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.plain_password.second, {
                    label: 'Powtórz Hasło'
                }) }}
            </div>
        {% endif %}
        {{ form_row(form.male, {
            label: 'Płeć',
            placeholder : 'Wybierz płeć'
        }) }}
        {{ form_row(form.name, {
            label: 'Imię'
        }) }}
        {{ form_row(form.surname, {
            label: 'Nazwisko'
        }) }}

        {#{{ form_row(form.imageFile, {#}
            {#label : 'Zdjęcie Profilowe (opcjonalnie)'#}
        {#}) }}#}

        {{ form_row(form.club, {
            label: 'Klub (opcjonalnie) - wybierz albo wpisz nowy',
            placeholder: 'Bez klubu',
            attr: {'class': 'select2'}
        }) }}

{% if form.plain_password is defined %}
    <a href="{{ path('view_rules') }}">Regulamin</a>
    {{ form_row(form.terms, {
        label: 'Oświadczam, że zapoznałem/am się i akceptuję Regulamin
                         oraz wyrażam zgodę na przetwarzanie moich danych osobowych.'
    }) }}
{% endif %}
<button type="submit" name="submit" class="btn btn-primary" formnovalidate>
    {% if form.plain_password is defined %}Zarejestruj się {% else %} Zapisz {% endif %}
</button>
{{ form_end(form) }}

          {#{% if user.imageName %}#}
              {#<button class="btn btn-danger setNullOnImage" formnovalidate>Usuń Zdjęcie</button>#}
          {#{% endif %}#}