{% import '_macros/macro.html.twig' as macro %}
<table id="table" class="table table-striped text-center">
    <thead>
    <tr>
        <th>Nazwisko i Imię</th>
        <th class="text-center">Płeć</th>
        <th class="text-center">Wiek</th>
        <th class="text-center">Klub</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr {% if is_granted('ROLE_USER') %} {{ user.id == app.user.id ? "class='success black'" }} {% endif %}>
            <td class="text-left"><a href="{{ path('view_user_show', {'id': user.id }) }}">
                    {{ user.surname }} {{ user.name }}</a>
            </td>
            <td> {{ user.male ?  'M' : 'K' }}</td>
            <td> {{ user.birthDay |getAge }} </td>
            <td> {% if user.club %}
                    <a href="{{ path('club_show', {'id': user.club.id }) }}"> {{ user.getClub() }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>