{{ form_start(userForm) }}

    {{ form_row(userForm.email) }}
    {{ form_row(userForm.plain_password.first, { 'label': 'Hasło'})}}
    {{ form_row(userForm.plain_password.second, { 'label': 'Powtórz Hasło'})}}
    {{ form_row(userForm.male)}}
    {{ form_row(userForm.name)}}
    {{ form_row(userForm.surname)}}
    {{ form_row(userForm.birthDay) }}
    {{ form_row(userForm.phone) }}
    {{ form_row(userForm.club) }}
    {{ form_row(userForm.terms) }}




<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(userForm) }}
