
{{ form_start(form, {
    attr : { 'class': 'ajaxForm' } }) }}

{{ form_row(form.email) }}
        {{ form_row(form.male, {
            label: 'Płeć',
            placeholder : 'Wybierz płeć'
        }) }}
        {{ form_row(form.name, {
            label: 'Imię'
        }) }}
        {{ form_row(form.surname, {
            label: 'Nazwisko'
        }) }}
            {{ form_row(form.birthDay, {
                label: 'Data Urodzenia'
            }) }}
            {{ form_row(form.phone, {
                label: 'Telefon'
            }) }}
        {{ form_row(form.club, {
            label: 'Klub (opcjonalnie) - wybierz albo wpisz nowy',
            placeholder: 'Bez klubu',
            attr: {'class': 'select2'}
        }) }}

    {{ form_row(form.coachId, {
        label: 'Trener (opcjonalnie)',
        placeholder: 'Bez trenera'
    }) }}


{% include ':user/_macros:insurance.html.twig' %}
<br>

<button type="submit" name="submit" class="btn btn-primary" formnovalidate>
     Zapisz
</button>
{{ form_end(form) }}

{#<script>#}
    {#$(document).ready(function () {#}

        {#$('.select2').select2({tags: true});#}
        {#initAjaxForm();#}
    {#});#}
{#</script>#}
