{% import "_macros/macro.html.twig" as macro %}
<table class="table table-condensed text-center table-borderless">

    <tr>
        <td>
            <h1> {{ user.name }} {{ user.surname }}</h1>
            <h4>
                {% if user.type == 1  %} Zawodnik {% elseif user.type == 2 %} Trener {% else %} Kibic {% endif %}
            </h4>
        </td>
    </tr>
    <tr>
        <td><img class='center' style="width: 180px;, height: 180px;"
                    {% if user.male %}
                 src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/male.png') }}"
                    {% else %}
                 src="{{ user.imageName ? "/img/user/" ~ user.imageName  : asset('img/female.png') }}"
             >
            {% endif %}
        </td>
    </tr>
    {% if user.type == 1 %}
    <tr>
        <td><b>Wiek:</b>{% if user.birthDay %} {{ user.birthDay | getAge }} lat {% endif %}</td>
    </tr>
    {% endif %}
    <tr>
        <td><b>Płeć:</b> {{ user.male ?  'mężczyzna' : 'kobieta' }}</td>
    </tr>
    <tr>
        <td>
            <b>Klub:</b>
            {% if user.club %}
                <a href="{{ user.club.href }}"> {{ user.club.name }} </a>
            {% else %}
                bez klubu
            {% endif %}
        </td>
    </tr>
{% if user.type == 1 %}
    <tr>
        <td>
            <b>Trener: </b>
            {% if user.coaches %}
                {% for coach in user.coaches %}
                     <a href="{{ coach.href }}">{{ coach.name }} {{ coach.surname }} </a>
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            {% else %}
                bez trenera
            {% endif %}
        </td>
    </tr>
{% elseif user.type == 2 and user.coaches %}
    <tr>
        <td>
            <b>Trener: </b>
            {% for coach in user.coaches %}
                <a href="{{ coach.href }}">{{ coach.name }} {{ coach.surname }} </a>
                {% if not loop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
{% endif %}
</table>