{% import '_macros/macro.html.twig' as macro %}

    {% if user.fights is empty %} <h4 class="text-center">Brak rekordów walk</h4>{% else %}

    <h3 class="text-center">
        {{ macro.recordLabel(user) }}
    </h3>
    <table class="table">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Przeciwnik</th>
            <th class="text-center">Formuła</th>
            <th class="text-center">Kat. wagowa</th>
            <th class="text-center">Wynik</th>
            <th class="text-center">Turniej</th>
        </tr>
        {% for fight in user.fights %}
            <tr>
                <td class="text-center">
                    {{ "%02d"|format(loop.index) }}
                    <a href="{{ fight.href }}">
                        Szczegóły {% if fight.youtubeId %}
                            <img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'>{% endif %}
                    </a>
                    <div>{{ macro.awards(fight.usersFight) }}</div>
                </td>
                <td class="text-center"> {{ macro.opponent(fight.usersFight) }} </td>
                <td class="text-center"> {{ fight.formula }} </td>
                <td class="text-center"> {{ fight.weight }} </td>
                <td class="text-center"> {{ macro.fightResult(fight.usersFight) }} </td>
                <td class="text-center"> <a href="{{ fight.tournament.href }}"> {{ fight.tournament.name }} </a> </td>
            </tr>
        {% endfor %}
    </table>

{% endif %}