{% extends 'base.html.twig' %}
{% import "_macros/macro.html.twig" as macro %}
{% block body %}
    {% include 'sparring/_panel.twig' %}

    <div class="container">
        <div class="row">
                <table class="table table-striped text-center">
                    <thead>
                    <tr>
                        <th class="text-center">Zawodnik 1</th>
                        <th class="text-center">Zawodnik 2</th>
                        <th class="text-center">Dyscyplina</th>
                        <th class="text-center">Waga</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fightProposition in fights %}
                        <tr>
                            <td>
                                <a href="{{ path('view_user_show', {'id': fightProposition.user.id }) }}">
                                    {{ fightProposition.user.surname }} {{ fightProposition.user.name }}
                                </a>
                                {% if fightProposition.result == 'user' %}
                                    <span class="label label-success">W</span>
                                {% elseif fightProposition.result == 'opponent' %}
                                    <span class="label label-danger">L</span>
                                {% elseif fightProposition.result == 'draw' %}
                                    <span class="label label-warning">D</span>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('view_user_show', {'id': fightProposition.opponent.id }) }}">
                                    {{ fightProposition.opponent.surname }} {{ fightProposition.opponent.name }}
                                </a>
                                {% if fightProposition.result == 'opponent' %}
                                    <span class="label label-success">W</span>
                                {% elseif fightProposition.result == 'user' %}
                                    <span class="label label-danger">L</span>
                                {% elseif fightProposition.result == 'draw' %}
                                    <span class="label label-warning">D</span>
                                {% endif %}
                            </td>

                            <td>
                                {{ fightProposition.discipline }}
                            </td>
                            <td>
                                {{ fightProposition.weight }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}

