{% import "_macros/macro.html.twig" as macro %}
{% extends 'base.html.twig' %}
{% block body %}

    {% include 'tournament/_parts/added_by_user__panel.twig' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>dyscypliny</td>
                    <td>
                        {% for discipline in tournament.disciplines %}
                            {{ discipline }}
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>data rozpoczęcia</td>
                    <td>{{ tournament.start | date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>data zakończenia</td>
                    <td>{{ tournament.end | date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <td>miasto</td>
                    <td>{{ tournament.place ? tournament.place.city }}</td>
                </tr>
                <tr>
                    <td>miejsce</td>
                    <td>{{ tournament.place ? tournament.place.name }}</td>
                </tr>
                <tr>
                    <td>ulica</td>
                    <td>{{ tournament.place ? tournament.place.street }}</td>
                </tr>
                </tbody>
            </table>
            <h1 class="text-center">Uzupełnij swoją historię walk</h1>
            {% if not is_granted('ROLE_USER') %}
                <p>
                    Aby uzupełnić historie walk musisz być zalogowany! &#8594;
                    <a href="{{ path ('view_login') }}">Przejdź do strony logowania</a>
                </p>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
            {{ form_start(form) }}
            {{ form_row(form.opponent, { 'label': 'Przeciwnik' }) }}
            {{ form_row(form.discipline, { 'label' : 'Dyscyplina'} ) }}
            {{ form_row(form.formula, { 'label': 'Formuła' }) }}
            {{ form_row(form.weight, { 'label': 'Waga' }) }}
            {{ form_row(form.result, { 'label': 'Wyniki walki' }) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Zapisz</button>
            {{ form_end(form) }}
            {% endif %}
<br>
            <h2>Wnioski</h2>
            <span>Aby walka i rezultat zostały zapisane wniosek musi zostać zaakceptowany przez Przeciwnika</span><br><br>
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th class="text-center">Wnioskujący</th>
                    <th class="text-center">Wynik walki</th>
                    <th class="text-center">Przeciwnik</th>
                    <th class="text-center">Dyscyplina</th>
                    <th class="text-center">Waga</th>
                    <th class="text-center">Formuła</th>
                </tr>
                </thead>
                <tbody>
                {% for fightProposition in fightPropositions %}
                    <tr>
                        <td>
                            <a href="{{ path('view_user_show', {'id': fightProposition.user.id }) }}">
                                {{ fightProposition.user.surname }} {{ fightProposition.user.name }}
                            </a>
                        </td>
                        <td>
                            {{ fightProposition.result }}
                        </td>
                        <td>
                            <a href="{{ path('view_user_show', {'id': fightProposition.opponent.id }) }}">
                                {{ fightProposition.opponent.surname }} {{ fightProposition.opponent.name }}
                            </a>
                        </td>

                        <td>
                            {{ fightProposition.discipline }}
                        </td>
                        <td>
                            {{ fightProposition.weight }}
                        </td>
                        <td>
                            {{ fightProposition.formula }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}
