{% import "_macros/macro.html.twig" as macro %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-offset-1">
                <table class="table-center">
                    <tr>
                        <td class="text-center">

                            <h3> {{ macro.recordLabel(fight.usersFight[0].user) }}</h3>
                            <h1>
                                <a href="{{ fight.usersFight[0].user.href }}">
                                    {{ fight.usersFight[0].user.name }} {{ fight.usersFight[0].user.surname }}
                                </a>
                            </h1>

                            <h3> {{ macro.fightResultForUserFight(fight.usersFight[0]) }}</h3>

                        </td>

                        <td class="text-center" rowspan="2">
                            <h1>vs.</h1>
                        </td>

                        <td class="text-center">

                            <h3> {{ macro.recordLabel(fight.usersFight[1].user) }}</h3>
                            <h1>
                                <a href="{{ fight.usersFight[1].user.href }}">
                                    {{ fight.usersFight[1].user.name }} {{ fight.usersFight[1].user.surname }}
                                </a>
                            </h1>
                            <h3> {{ macro.fightResultForUserFight(fight.usersFight[1]) }}</h3>
                        </td>
                    <tr>

                        <td class="text-center">
                            {% if fight.usersFight[0].user.club %}
                                <h3>
                                    <a href="{{ fight.usersFight[0].user.club.href }}"> {{ fight.usersFight[0].user.club.name }}</a>
                                </h3>
                            {% endif %}
                        </td>

                        <td class="text-center">
                            {% if fight.usersFight[1].user.club %}
                                <h3>
                                    <a href="{{ fight.usersFight[1].user.club.href }}"> {{ fight.usersFight[1].user.club.name }}</a>
                                </h3>
                            {% endif %}
                        </td>

                    </tr>

                    <tr>
                        <td></td>
                        <td class="text-center">{{ fight.formula }} {{ fight.weight }} kg</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-center"><a href="{{ fight.tournament.href }}"> {{ fight.tournament.name }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="text-center">{{ fight.tournament.start|date('d-m-Y') }}</td>
                        <td></td>
                    </tr>
                    {% if not fight.youtubeId %}
                    <tr>
                        <td></td>
                        <td class="text-center"><h2>Brak nagrania z walki</h2></td>
                        <td></td>
                    </tr>
                    {% endif %}
                </table>
                {% if fight.youtubeId %}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ fight.youtubeId }}"
                            allowfullscreen></iframe>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}