<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>opis</th>
        <th>strona</th>
        <th>pomysłodawcy</th>
        <th>wykonawcy</th>
        <th>czas wykonania (godziny)</th>
        <th>utworzone</th>
        <th>zrobione</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ task.description }}</td>
        <td><a href="{{ task.www }}">{{ task.www }}</a></td>
        <td>
        {% for userTask in task.userTasks %}

            <a href="{{ path('view_user_show', {id: userTask.User.id}) }}">{{ userTask.User }}</a>

        {%  endfor %}
        </td>
        <td>
            <a href="{{ path('view_user_show', { id: 481 }) }}"> Sławomir Grochowski</a>
        </td>
        <td>{{ task.minutes }}</td>
        <td>{{ task.createdAt|date('d-m-Y') }}</td>
        <td>{{ task.finishedAt ? task.finishedAt|date('d-m-Y') }}</td>
    </tr>
    {% endfor %}
</table>

