{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .thumbnail {
            padding: 0px;
        }

        .panel {
            position: relative;
        }

        .panel > .panel-heading:after, .panel > .panel-heading:before {
            position: absolute;
            top: 11px;
            left: -16px;
            right: 100%;
            width: 0;
            height: 0;
            display: block;
            content: " ";
            border-color: transparent;
            border-style: solid solid outset;
            pointer-events: none;
        }

        .panel > .panel-heading:after {
            border-width: 7px;
            border-right-color: #f7f7f7;
            margin-top: 1px;
            margin-left: 2px;
        }

        .panel > .panel-heading:before {
            border-right-color: #ddd;
            border-width: 8px;
        }
    </style>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Nowe Pomysły:</h1>
                {% include 'tqm/_tasks.html.twig' %}


                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ form_start(form) }}
                    {{ form_row(form.body,{ 'label' : 'Napisz komentarz...'} ) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>Wyślij</button>
                    {{ form_end(form) }}
                {% else %}
                    <span>
                        Aby zamieścić swój komentarz musisz być zalogowany &#8594;
                        <a href="{{ path ('view_login') }}">Przejdź do strony logowania</a>
                    </span>
                {% endif %}


                <h3>Komentarze</h3>

                {% for comment in comments %}

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                            </div><!-- /col-sm-12 -->
                        </div><!-- /row -->

                        <div class="row">
                            <div class="col-sm-1">
                                <div class="thumbnail">
                                    <img class="img-responsive user-photo"
                                         src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                </div><!-- /thumbnail -->
                            </div><!-- /col-sm-1 -->

                            <div class="col-sm-10">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong> {{ comment.user.name }} {{ comment.user.surname }} </strong>
                                        <span class="text-muted"> {{ comment.createdAt| date('d-m-Y H:i:s') }}</span>
                                    </div>

                                    <div class="panel-body">
                                        {{ comment.body }}
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->
                            </div><!-- /col-sm-5 -->

                        </div><!-- /row -->
                    </div><!-- /container -->


                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

