<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W9ZCPBJ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Fighter Champ | Amatorska liga turniejów sportów walki{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.css"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta property="og:image" content="https://fighterchamp.pl/img/logo/logo_blackbg.png"/>
    <meta property="og:title" content="Fighter Champ | Amatorska liga turniejów sportów walki"/>
    <meta property="og:description" content="Fighter Champ | Amatorska liga turniejów sportów walki"/>
    <meta property="og:url" content="https://fighterchamp.pl"/>
</head>

<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
            <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo/logo_blackbg.svg') }}" class='navbar-brand center logo'></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li {{ (app.request.attributes.get('_route') == 'tournament_list') ? 'class="active"' }}><a
                            href="{{ path ('tournament_list' ) }}">Turnieje</a></li>
                <li {{ (app.request.attributes.get('_route') == 'view_user_list') ? 'class="active"' }}><a
                            href="{{ path ('view_user_list') }}">Ludzie</a></li>
                <li {{ (app.request.attributes.get('_route') == 'club_list') ? 'class="active"' }}><a
                            href="{{ path ('club_list') }}">Kluby</a></li>
                <li {{ (app.request.attributes.get('_route') == 'fight_list') ? 'class="active"' }}><a
                            href="{{ path ('fight_list') }}">Walki</a></li>
                <li {{ (app.request.attributes.get('_route') == 'tqm_nowosci') ? 'class="active"' }}><a
                            href="{{ path ('ideas') }}">Pomysły</a></li>
                <li {{ (app.request.attributes.get('_route') == 'rank') ? 'class="active"' }}><a
                            href="{{ path ('rank', {'year' : 'wszystkie-lata' }) }}">Ranking</a></li>
                <li {{ (app.request.attributes.get('_route') == 'about') ? 'class="active"' }}><a
                            href="{{ path ('about') }}">O Serwisie</a></li>
                <li {{ (app.request.attributes.get('_route') == 'rules') ? 'class="active"' }}><a
                            href="{{ path ('rules') }}">Regulamin</a></li>
                <li {{ (app.request.attributes.get('_route') == 'contact') ? 'class="active"' }}><a
                            href="{{ path ('contact') }}">Kontakt</a></li>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')  %}
                    {% if is_granted('ROLE_USER') %}
                        <li {{ (app.request.attributes.get('_route') == 'view_user_edit') ? 'class="active"' }}><a
                                    href="{{ path ('view_user_edit') }}">Mój Profil</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') and app.user.tournamentAdmin|first %}
                        {% set tournamentAdmin = app.user.tournamentAdmin|first %}
                        <li {{ (app.request.attributes.get('_route') == 'admin_tournament_sign_up') ? 'class="active"' }}><a
                                    href="{{ path ('admin_tournament_sign_up',{'id' : tournamentAdmin.tournament.id  }) }}">Admin</a></li>
                    {% endif %}
                    <li {{ (app.request.attributes.get('_route') == 'logout') ? 'class="active"' }}><a
                                href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                {% else %}
                    <li {{ (app.request.attributes.get('_route') == 'login') ? 'class="active"' }}><a
                                href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                {% endif %}
            </ul>
    </nav>
</div>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W9ZCPBJ"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% block body %}{% endblock %}
</body>



<footer class="container-fluid">Copyright 2016. Ta strona korzysta z plików cookies (tzw. ciasteczka).</footer>


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.5.1/b-html5-1.5.1/r-2.2.1/datatables.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
        $(document).ready(function(){
            var t = $('#table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
                },
                "bPaginate": false,
                "dom": 'lifrtp'
            });
        });
    </script>
{% endblock %}
</html>
