<table class="table table-striped">
    <thead>
    <tr>
        <th>Nazwisko i Imię</th>
        <th>Data skasowania</th>
        <td>Zapłacone?</td>
        <th>Klasa</th>
        <th>Staż [miesiące]</th>
        <th>Płeć</th>
        <th>Kat. Wagowa</th>
        <th>Wiek</th>
    </tr>
    </thead>
    <tbody>
    {% for signUp in signUps %}
        <tr>
            <td><a href="{{ path('view_user_show', {'id': signUp.User.id }) }}">
                    {{ signUp.User.surname }} {{ signUp.User.name }}</a></td>
            <td>{{ signUp.deletedAt| date('d-m-Y H:i:s') }}</td>
            <td>{{ signUp.isPaid ? 'Tak' : 'Nie' }}</td>
            <td> {{ signUp.formula }} </td>
            <td> {{ signUp.trainingTime }}</td>
            <td> {{ signUp.User.male ?  'M' : 'K' }} </td>
            <td> {{ signUp.weight }} </td>
            <td> {{ signUp.User.birthDay |getAge }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>