<div class="container-fluid">
    <nav class="navbar-admin">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="dot-row">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li {{ (app.request.attributes.get('_route') == 'tournament') ? 'class="active"' }}>
                    <a href="{{ path ('tournament_show', {'id': tournament.id }) }}">Turniej</a></li>
                {% if isAdmin %}
                <li {{ (app.request.attributes.get('_route') == 'tournament') ? 'class="active"' }}>
                    <a href="{{ path ('tournament_edit', {'id': tournament.id }) }}">Edytuj</a></li>
                {% endif %}
                <li {{ (app.request.attributes.get('_route') == 'fighter_all_show') ? 'class="active"' }}>
                    <a href="{{ path ('ready_List', {'id': tournament.id }) }}">Zgłoszenia</a></li>
                <li {{ (app.request.attributes.get('_route') == 'rules') ? 'class="active"' }}>
                {% if isAdmin %}
                    <a href="{{ path ('tournament_match', {'id': tournament.id }) }}">Parowanie</a></li>
                <li {{ (app.request.attributes.get('_route') == 'contact') ? 'class="active"' }}>
                {% endif %}
                    <a href="{{  path('tournament_fights', {'id': tournament.id }) }}">Walki</a></li>
                <li {{ (app.request.attributes.get('_route') == 'contact') ? 'class="active"' }}>
                {% if isAdmin %}
                    <a href="{{ path ('contact') }}">Mailing</a></li>
                <li {{ (app.request.attributes.get('_route') == 'contact') ? 'class="active"' }}>
                    <a href="{{ path ('contact') }}">News</a></li>
                {% endif %}
            </ul>
    </nav>
</div>
</div>