{% import '_macros/macro.html.twig' as macro %}
<table id="table-pair" class="table table-striped">
    <thead>
    <tr>
        <th></th>
{#        <th>Zapłacone?</th>#}
        <th>Zważony?</th>
        <th>Dyscyplina</th>
        <th>Płeć</th>
        <th>Wiek</th>
        <th>Nazwisko i Imię</th>
        <th>Kat. Wagowa</th>
        <th>Klasa</th>
        <th>Staż [miesiące]</th>
{#        <th>Licencja PZB</th>#}
    </tr>
    </thead>
    <tbody>
    {% for signUp in signUps %}
        {% if signUp.deletedAtByAdmin is null %}
            <tr id="{{ signUp.id }}">
                <td>
                    <a href="{{ path("admin_tournament_toggle_delete_by_admin", {'id' : signUp.id }) }}"
                       class="btn btn-danger"><i class="fa fa-trash-o fa-lg"></i> Skasuj</a>
                </td>
{#                <td> {{ signUp.isPaid ? 'Tak' : 'Nie' }} </td>#}
                <td> {{ signUp.weighted ? 'Tak' : 'Nie' }} </td>
                <td> {{ signUp.discipline }} </td>
                <td> {{ signUp.user.male ?  'M' : 'K' }} </td>
                <td> {{ signUp.user.birthDay |getAge }} </td>
                <td><a href="{{ signUp.user.href }}"> {{ signUp.user.surname }} {{ signUp.user.name }}</a><br>
                    {{ macro.record(signUp.user) }} <br>
                    {% if signUp.user.club %}
                        {{ signUp.user.club.name }}
                    {% endif %}
                </td>
                <td> {{ signUp.weighted ?: signUp.weight }} </td>
                <td> {{ signUp.formula }} </td>
                <td> {{ signUp.trainingTime }} </td>
{#                <td> {{ signUp.isLicence ? '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>' }} </td>#}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>