{% import '_macros/macro.html.twig' as macro %}
<table id="table-deleted" class="table table-striped">
    <thead>
    <tr>
        <th></th>
{#        <th>Zapłacone?</th>#}
        <th>Dyscyplina</th>
        <th>Zważony?</th>
        <th>Nazwisko i Imię</th>
        <th>Rekord</th>
        <th>Płeć</th>
        <th>Klasa</th>
        <th>Kat. Wagowa</th>
        <th>Staż [miesiące]</th>
        <th>Wiek</th>
        <th>Klub</th>
    </tr>
    </thead>
    <tbody>
    {% for signUp in signUps %}
        {% if signUp.deletedAtByAdmin %}
            <tr id="{{ signUp.id }}">
                <td>
{#                    <a href="{{ path("admin_tournament_toggle_delete_by_admin", {'id' : signUp.id }) }}"#}
{#                       class="btn btn-success"><i class="fa fa-repeat fa-lg"></i> Przywróć</a>#}
                </td>
{#                <td> {{ signUp.isPaid ? 'Tak' : 'Nie' }} </td>#}
                <td> {{ signUp.discipline }} </td>
                <td> {{ signUp.weighted ? 'Tak' : 'Nie' }} </td>
                <td><a href="{{ signUp.user.href }}"> {{ signUp.user.surname }} {{ signUp.user.name }}</a></td>
                <td>
                    {{ macro.record(signUp.user) }}
                </td>
                <td> {{ signUp.user.male ?  'M' : 'K' }} </td>
                <td> {{ signUp.formula }} </td>
                <td> {{ signUp.weighted ?: signUp.weight }} </td>
                <td> {{ signUp.trainingTime }} </td>
                <td> {{ signUp.user.birthDay |getAge }} </td>
                <td>
                    {% if signUp.user.club %}
                        <a href="{{ signUp.user.club.href }}"> {{ signUp.user.club.name }} </a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>