{% set tournamentAdmin = app.user.tournamentAdmin|first %}
<div>
    <ul class="nav navbar-nav">
        <li><a href="{{ path('admin_view_tournament_signup', { 'id' : tournamentAdmin.tournament.id}) }}"> Zgłoszenia</a></li>
        <li><a href="{{ path('admin_tournament_pair', { 'id' : tournamentAdmin.tournament.id}) }}"> Parowanie</a></li>
        <li><a href="{{ path('admin_tournament_fights', { 'id' : tournamentAdmin.tournament.id}) }}"> Walki - Wygrał / Przegrał</a></li>
        {#<li><a href="{{ path('admin_mail') }}">Mail</a></li>#}
        {#<li ><a href="{{ path('admin_tournament_create') }}">Utwórz nowy turniej</a></li>#}
    </ul>
    {#<ul class="nav navbar-nav" style="float: right;  padding-right:30px;">#}
        {#<li >#}
            {#<select style="width: 300px;"#}
                    {#id="js-admin-tournament"#}
                    {#class="form-control"#}
                    {#name="userId"#}
                    {#data-source="{{ path('admin_api_tournament_list') }}"#}
                    {#data-valueKey="id"#}
                    {#data-displayKey="name">#}
            {#</select>#}
        {#</li>#}
    {#</ul>#}
</div>
