{%  extends 'base.html.twig' %}

{%  block body %}
    {% include 'admin/base.html.twig' %}
<div class="container">
    <div class="row">
<br>
        {% include 'admin/_fights_table_sobota.html.twig' with {fights : fights, signUps : signUps}  %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/admin_select_tournament.js') }}"></script>
<script>
    $( ".select_order" ).change(function() {

        var values = this.value;
        var arrValues = values.split("|");


        $.ajax({
            type: 'POST',
            url: "{{ path('changePositionFight', {'id': tournament.id }) }}",
            data: {wantedPosition: arrValues[0], fightId:arrValues[1], position: this.id},
            success: function () {
                 location.reload();
            }
        });
    });

    $( ".select_winner" ).change(function() {

        var values = this.value;
        var arrValues = values.split("|");

        $.ajax({
            type: 'POST',
            url: "{{  path('setWinner') }}",
            data: {userFightId: arrValues[0], result: arrValues[1] },
            success: function () {
                location.reload();
            }
        });

    });

    $( ".checkbox_ready" ).change(function() {
        $.ajax({
            type: 'POST',
            url: "{{ path('toggleFightReady') }}",
            data: {fightId: this.value},
            success: function () {

            }
        });
    });

    $( ".js-fight-delete" ).click(function() {

        $.ajax({
            type: 'DELETE',
            url: Routing.generate('api_admin_delete_fight', {id: this.value}),
            success: function () {
                location.reload();
            }
        });
    });

    $( ".toggle-corner" ).click(function() {

        var fightId = $(this).data('id');

        $.ajax({
            type: 'POST',
            url: "{{ path('toggle_corners') }}",
            data: {fightId: fightId},
            success: function () {
                location.reload();
            }
        });
    });

    $(".select_is_licence").change(function () {
        var values = this.value;
        var arrValues = values.split("|");

        $.ajax({
            type: 'POST',
            url: "{{ path('set_is_licence') }}",
            data: {fightId: arrValues[0], isLicence: arrValues[1]},
            success: function () {
                location.reload(); }
        });
    });

</script>
{% endblock %}

