{% import '_macros/macro.html.twig' as macro %}
{%  extends 'base.html.twig' %}

{%  block body %}
    {% include 'admin/base.html.twig' %}
<div class="container">
    <div class="row">
<br>
        <div class="col-xs-12">
            <div>
                Zawodnicy którzy skasowali swoje zgłoszenia a mają walkę = {{ signUps|length }} <br>
                {% for signUp in signUps  %}
                    {{ signUp.user.name }} {{ signUp.user.surname }} ,
                {% endfor %}
            </div>
            <br>
            <br>
            <div>
                <span class="label label-success">W</span> - Win (Wygrana)
                <span class="label label-warning">D</span> - Draw (Remis)
                <span class="label label-danger">L</span> - Loss (Przegrana)
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Opublikowane?</th>
                    {#        <th>Dzień</th>#}
                    <th>Dyscyplina</th>
                    <th>Kolejność</th>
                    <th>
                        Zawodnik 1 <br>
                        <span class="label label-danger">Narożnik Czerwony</span>
                    </th>
                    <th></th>
                    <th>
                        Zawodnik 2 <br>
                        <span class="label label-primary">Narożnik Niebieski</span>
                    </th>
                    <th>Wygrany</th>
                    <th>Klasa</th>
                    <th>Kat. wagowa</th>
                    {#        <th>Licencja PZB</th>#}
                </tr>
                </thead>
                <tbody>
                {% for fight in fights %}
                    {% set fightDayString = fight.day|localizeddate('full', 'none', app.request.locale, null, 'EEE')  %}

                    <tr>
                        <td>
                            <button class="btn btn-danger js-fight-delete" value="{{ fight.id }}">
                                <i class="fa fa-trash-o fa-lg"></i> Rozparuj
                            </button>
                        </td>
                        <td>
                            <input class="checkbox_ready" type="checkbox" {{ fight.isVisible? 'checked' : '' }} value="{{ fight.id }}">
                        </td>
                        <td>
                            {{fight.discipline }}
                        </td>
                        <td><select class="select_order" id="{{ loop.index }}" autocomplete="off">
                                {% for i in 1..fights|length %}
                                    <option value="{{ i }}|{{ fight.id }}" {{ fight.position == loop.index ? 'selected' }} >{{ i }}</option>
                                {% endfor %}
                            </select>
                        </td>

                        {% for userFight in fight.usersFight %}
                            {% set signUp = userFight.user.getSignUpTournament(tournament)  %}

                            {% set user = userFight.user %}

                            {% if loop.index == 2 %}
                                <td>
                                    <a href="#!" data-id="{{ fight.id }}" class="toggle-corner">
                                        <span style="font-size: 24px;">⮀</span>
                                    </a>
                                </td>
                            {% endif %}

                            <td>
                                <a href="{{ path('view_user_show', {'id': user.id }) }}"> {{ user.name }} {{ user.surname }}

                                    {{ macro.fightResultForUserFight(userFight) }}

                                    {% if user.club %} <br> ({{ user.club }}) {% endif %}
                                </a>
                                <br>
                                {{ signUp? signUp.formula }}
                                {{ signUp? signUp.getFinallWeight }}
                                <br>
                                {% if user.birthDay %}
                                    {% set age = user.birthDay |getAge %}
                                    {{ age }} lat
                                    {% if(age <= 13) %}
                                        (adept)
                                    {% elseif(age == 14) %}
                                        (młodzik)
                                    {% elseif(age == 15 or age == 16) %}
                                        (kadet)
                                    {% elseif(age == 17 or age == 18) %}
                                        (junior)
                                    {% elseif(age >= 19 and age <= 23) %}
                                        (młodzieżowiec)
                                    {% elseif(age > 23 ) %}
                                        (senior)
                                    {% endif %}
                                {% endif %}

                                <br>
                                {% if signUp %}
                                    {{ signUp.isPaid ? '' : 'Niezapłacone'  }}
                                    {{ signUp.weighted ? '' : 'Niezważony' }} <br>
                                    {{ signUp.isLicence ? '' : 'PZB' }}
                                {% endif %}
                            </td>

                        {% endfor %}

                        <td>
                            <select class="select_winner" autocomplete="off"> <option value="{{ fight.usersFight[0].id }}|reset"></option>
                                {% for userFight in fight.usersFight %}

                                    <option {{ userFight.result == 'win' ? 'selected' }} value="{{ userFight.id }}|win">
                                        {{ userFight.user.surname }} {{ userFight.user.name }}
                                    </option>

                                    <option {{ userFight.result == 'win_ko' ? 'selected' }} value="{{ userFight.id }}|win_ko">
                                        {{ userFight.user.surname }} {{ userFight.user.name }} (KO)
                                    </option>

                                {% endfor %}

                                <option {{ fight.usersFight[0].result == 'draw' ? 'selected' : '' }} value="{{ fight.usersFight[0].id }}|draw" >Remis</option>

                            </select>
                        </td>

                        <td>{{ fight.formula }}</td>
                        <td>{{ fight.weight }}</td>
                        {#            <td>#}
                        {#                <select autocomplete="off" class="select_is_licence">#}
                        {#                    {% if fight.isLicence %}#}
                        {#                        <option selected value="{{ fight.id }}|1">Tak</option>#}
                        {#                        <option value="{{ fight.id }}|0">Nie</option>#}
                        {#                    {% else %}#}
                        {#                        <option value="{{ fight.id }}|1">Tak</option>#}
                        {#                        <option selected value="{{ fight.id }}|0">Nie</option>#}
                        {#                    {% endif %}#}
                        {#                </select>#}
                        {#            </td>#}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('js/admin_select_tournament.js') }}"></script>
<script>
    $( ".select_order" ).change(function() {

        var values = this.value;
        var arrValues = values.split("|");


        $.ajax({
            type: 'POST',
            url: "{{ path('changePositionFight', {'id': tournament.id }) }}",
            data: {wantedPosition: arrValues[0], fightId:arrValues[1], position: this.id},
            success: function () {
                 location.reload();
            }
        });
    });

    $( ".select_winner" ).change(function() {

        var values = this.value;
        var arrValues = values.split("|");

        $.ajax({
            type: 'POST',
            url: "{{  path('setWinner') }}",
            data: {userFightId: arrValues[0], result: arrValues[1] },
            success: function () {
                location.reload();
            }
        });

    });

    $( ".checkbox_ready" ).change(function() {
        $.ajax({
            type: 'POST',
            url: "",
            data: {fightId: this.value},
            success: function () {

            }
        });
    });

    $( ".js-fight-delete" ).click(function() {

        $.ajax({
            type: 'DELETE',
            url: Routing.generate('api_admin_delete_fight', {id: this.value}),
            success: function () {
                location.reload();
            }
        });
    });

    $( ".toggle-corner" ).click(function() {

        var fightId = $(this).data('id');

        $.ajax({
            type: 'POST',
            url: "{{ path('toggle_corners') }}",
            data: {fightId: fightId},
            success: function () {
                location.reload();
            }
        });
    });

    $(".select_is_licence").change(function () {
        var values = this.value;
        var arrValues = values.split("|");

        $.ajax({
            type: 'POST',
            {#url: "{{ path('set_is_licence') }}",#}
            data: {fightId: arrValues[0], isLicence: arrValues[1]},
            success: function () {
                location.reload(); }
        });
    });

</script>
{% endblock %}

