{{ form_start(form) }}
    {{ form_row(form.name, {
        label : 'Nazwa',
        attr: {'class': 'select2'}
    })}}
    {{ form_row(form.city,{ 'label' : 'Miasto'} ) }}
    {{ form_row(form.street, { 'label': 'Ulica' }) }}
    {{ form_row(form.www, { 'label': 'Strona www' }) }}
<button type="submit" class="btn btn-primary" formnovalidate>Zapisz</button>
{{ form_end(form) }}


