{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <h1>Nowy Turniej</h1>

    {{ form_start(form) }}
            {{ form_row(form.name,{'label' : 'Nazwa'}) }}
            {{ form_row(form.capacity,{'label' : 'Maksymalna Liczba Uczestników'}) }}
            {{ form_row(form.start,{'label' : 'Data i Godzina Rozpoczęcia'}) }}
            {{ form_row(form.end,{'label' : 'Data i Godzina Zakończenia'}) }}
            {#{{ form_row(form.city,{'label' : 'Miasto'}) }}#}
            {#{{ form_row(form.placeName,{'label' : 'Nazwa Obiektu'}) }}#}
            {#{{ form_row(form.street,{'label' : 'Adress'})  }}#}
            <input type="submit" class='btn btn-primary' value="Zapisz" />
    {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
