{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-left" style="margin-bottom: 10px; margin-top: 20px;">
                <a href="{{ path('admin_tournament_new') }}" class="btn btn-primary pull-right">Dodaj <span class="fa fa-plus-circle"></span></a>
            </div>
    <h1 class="text-center">Lista Turniejów</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Nazwa</th>
                <th>Liczba Uczestników</th>
                <th>Data</th>
                <th>Miasto</th>
                <th>Miejsce</th>
                <th>Ulica</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}
            <tr>
                <td>
                    <a href="{{ path('admin_tournament_edit', {'id': tournament.id}) }}"
                       class="btn btn-success">Edytuj</a>
                </td>
                <td>{{ loop.index }}</td>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.capacity }}</td>
                {#<td>{% if tournament.date %}{{ tournament.date|date('Y-m-d') }}{% endif %}</td>#}
                <td>{{ tournament.city }}</td>
                <td>{{ tournament.placeName }}</td>
                <td>{{ tournament.street }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        </div>
    </div>
</div>
{% endblock %}
