{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
    <h1>Tournament</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tournament.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tournament.name }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ tournament.capacity }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if tournament.date %}{{ tournament.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ tournament.city }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ tournament.street }}</td>
            </tr>
            <tr>
                <th>Placename</th>
                <td>{{ tournament.placeName }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_tournament_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_tournament_edit', { 'id': tournament.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
        </div>
    </div>
</div>
{% endblock %}
