{% extends 'base.html.twig' %}

{% block body %}
    {% include 'admin/base.html.twig' %}
    <div class="col-xs-12">
        {% for msg in app.session.flashBag.get('warning') %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
        {% endfor %}

      {#     <a style="color: white" href="{{ path('admin_create_signUp', {id: tournament.id}) }}">
               <button class="btn btn-danger"> Dodaj Zgłoszenie Zawodnika </button>
           </a>

        <h3>Zapłaciło {{ signUpsPaid }} na {{ signUpsTournament|length }} zawodników</h3>

        <span>Seniorzy: {{ finance.seniorsPaid }} / {{ finance.seniors }}</span> <br>
        {{ finance.seniorsPaid * tournament.ticketFighterAdult.price  }} zł / {{ finance.seniors * tournament.ticketFighterAdult.price }} zł<br>

        <span>Juniorzy: {{ finance.juniorsPaid }} / </span> {{ finance.juniors }} <br>
        {{ finance.juniorsPaid * tournament.ticketFighterChild.price  }} zł / {{ finance.juniors * tournament.ticketFighterChild.price }} zł<br>

        <span>Suma: {{ finance.seniors * tournament.ticketFighterAdult.price  + finance.juniors * tournament.ticketFighterChild.price}} zł </span>#}
        <h3>Zważono {{ howManyWeighted }} na {{ signUpsTournament|length }} zawodników</h3>
        <table id="table" class="table table-striped">
            <thead>
            <tr>
{#                <th>Zapłacone?</th>#}
                <th>Nazwisko i Imię</th>
                <th>Dyscyplina</th>
                <th class="text-center">Kat. Wagowa w Zgłoszeniu</th>
                <th class="text-center">Kat. Wagowa w Turnieju</th>
                <th>Klasa</th>
                <th>Staż [miesiące]</th>
                <th>Płeć</th>
                <th>Wiek</th>
                <th>Kontakt</th>
            </tr>
            </thead>
            <tbody>
            {% for signUp in signUpsTournament %}
                <tr>
{#                    <td>#}
{#                        <select autocomplete="off" class="select_isPaid">#}
{#                            {% if signUp.isPaid %}#}
{#                                <option selected value="{{ signUp.id }}|1">Tak</option>#}
{#                                <option value="{{ signUp.id }}|0">Nie</option>#}
{#                            {% else %}#}
{#                                <option value="{{ signUp.id }}|1">Tak</option>#}
{#                                <option selected value="{{ signUp.id }}|0">Nie</option>#}
{#                            {% endif %}#}
{#                        </select>#}
{#                    </td>#}
                    <td><a href="{{ path('view_user_show', {'id': signUp.User.id }) }}">
                            {{ signUp.User.surname }} {{ signUp.User.name }}</a></td>
                    <td>
                        {{ signUp.discipline }}
                    </td>
                    <td> {{ signUp.weight }} </td>
                    <td>

                        <select autocomplete="off" class="select_weighted">
                            <option value="{{ signUp.id }}"></option>
                            <option value="{{ signUp.id }}|{{ signUp.weight }}"
                                    {{ signUp.weighted == signUp.weight ? ' selected' }}
                            >{{ signUp.weight }}
                            </option>
                            {% for weight in weights %}
                                <option value="{{ signUp.id }}|{{ weight.weight }}"
                                        {{ signUp.weighted == weight.weight ? ' selected' }}
                                >{{ weight.weight }}
                                </option>
                            {% endfor %}
                        </select>

                    </td>
                    <td> {{ signUp.formula }} </td>
                    <td> {{ signUp.trainingTime }}</td>
                    <td> {{ signUp.User.male ?  'M' : 'K' }} </td>
                    <td> {{ signUp.User.birthDay |getAge }} </td>
                    <td>
                            <span data-div="{{ loop.index }}"
                                  class="expand">Pokaż</span>
                            <div style="display: none" id="{{ loop.index }}"> {{ signUp.User.phone? signUp.User.phone : '' }}
                                <br> {{ signUp.User.email? signUp.User.email? : '' }}
                            </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>

        {#<button class="btn btn-danger" id="unpair-notweighted">#}
            {#<a href="{{ path('fights_not_weighted_remove') }}"#}
               {#style="color: white"> Rozparuj walki zawodników którzy nie zostali zważeni</a></button>#}
        {#<strong>   {{ fightsWhereFightersAreNotWeighted|length }}</strong>#}

        <h3>Zawodnicy którzy skasowali swoje zgłoszenia {{ signUpsDeleted|length }}</h3>
        {% include 'admin/sign-up/_sign_ups.html.twig' with {signUps : signUpsDeleted} %}


    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/admin_select_tournament.js') }}"></script>
    <script>
        window.onload=function() {
            var links = document.querySelectorAll(".expand");
            for (var i=0;i<links.length;i++) {
                links[i].onclick=function(e) {
                    e.preventDefault();
                    var ele = document.getElementById(this.getAttribute("data-div"));
                    if (ele) ele.style.display = ele.style.display == "block"?"none":"block";
                }
            }
        }

        $(".select_isPaid").change(function () {
            var values = this.value;
            var arrValues = values.split("|");

            $.ajax({
                type: 'POST',
                {#url: "{{ path('set_is_paid') }}",#}
                data: {signUpId: arrValues[0], isPaid: arrValues[1]},
                success: function () {
                    location.reload(); }
            });
        });

        $( ".select_weighted" ).change(function() {

            var values = this.value;
            var arrValues = values.split("|");
                $.ajax({
                type: 'PATCH',
                url: Routing.generate('api_signup_update', {id: arrValues[0]}),
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify({weighted: arrValues[1]}),
                success: function () {

                    location.reload();
                }
            });
        });

    </script>
{% endblock %}