{% extends 'base.html.twig' %}
{% block body %}

    {% set infoDir =  'Granda' in tournament.name ? 'granda_na_piesci' : 'kuznia' %}

    {% include 'tournament/_parts/_panel.twig' %}
    <div class="container-fluid">
        <div class="main">
            <section class="tournament-data">
                <div class="row">
                    <div class="title col-xs-12">
                        <img src="{{ tournament.logo }}" class="img-responsive center-block">
                    </div>
                    <div class="date col-xs-12 col-sm-6 text-uppercase">
                        <h3 class="text-center">data</h3>
                        <div class="row">
                            <div class="day col-xs-6 text-right">
                                <p><strong>{{ tournament.start | date('d-m-Y') }} </strong>
                                    <br>
                                    {{ tournament.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                                </p>
                            </div>
                            <div class="hour col-xs-6">
                                <p>godzina
                                    <br>
                                    <strong>{{ tournament.start | date('H:i') }}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="place col-xs-12 col-sm-6">
                        <h3 class="text-uppercase text-center">miejsce</h3>
                        <div class="row">
                            <div class="building col-xs-6 text-right">
                                <p><strong>{{ tournament.place ? tournament.place.name }}</strong></p>
                            </div>
                            <div class="address col-xs-6">
                                <p>{{ tournament.place ? tournament.place.city }}
                                    <br>
                                    {{ tournament.place ? tournament.place.street }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="limits col-xs-12 text-center">
                        <h2>Zapisy do {{ tournament.signupEnd | date('d-m-Y') }}
                            ({{ tournament.signupEnd |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                            )</h2>
                        <h3 class="text-uppercase">uczestnicy</h3>
                        <p><strong>{{ tournament.getSignups| length }} / {{ tournament.capacity }}</strong></p>
                    </div>
                    <div class="key-points col-xs-12 col-md-9">

                    <h3 class="text-uppercase">harmonogram</h3>
                    {% set last = '' %}
                        {% for schedule in tournament.schedule %}

                            {% if last != schedule.start | date('d-m-Y') %}
                                <h4>{{ schedule.start |localizeddate('none', 'full', app.request.locale, null, 'cccc') }}
                                ({{ schedule.start | date('d-m-Y') }})</h4>
                            {% endif %}

                        <p><strong>{{ schedule.start| date('H:i') }}</strong>-{{ schedule.end| date('H:i') }}
                            - {{ schedule.description }}</p>
                            {% set last = schedule.start | date('d-m-Y') %}
                        {% endfor %}

                    <div class="fights">
                        <h3 class="text-uppercase">Walki:</h3>

                        {% include 'tournament/info/' ~ infoDir ~ '/fights.twig' %}

                    </div>

                    <div class="awards">
                        <h3 class="text-uppercase">Nagrody:</h3>
                        {% include 'tournament/info/' ~ infoDir ~ '/awards.twig' %}
                    </div>

                    <div class="gear">
                        <h3 class="text-uppercase">Sprzęt:</h3>
                        {% include 'tournament/info/' ~ infoDir ~ '/gear.twig' %}
                    </div>

                    <div class="requirements">
                        <h3 class="text-uppercase">Wymagane:</h3>
                        {% include 'tournament/info/' ~ infoDir ~ '/requirements.twig' %}
                    </div>

                </div>
                {% if tournament.poster %}
                    <aside class="col-xs-12 col-md-3">
                        <img src="{{ tournament.poster }}" class="img-responsive center-block">
                    </aside>
                {% endif %}
        </div>
        </section>
    </div>
    </div>
{% endblock %}
