{{ form_start(form) }}

    {{ form_row(form.name, {
        label : 'Nazwa',
        attr: {'class': 'select2'}
    })}}
    {{ form_row(form.disciplines, {
        'label' : 'Dyscypliny',
        attr: {'class': 'select2-disciplines'}
    } ) }}
    {{ form_row(form.start, { 'label' : 'Start'} ) }}
    {{ form_row(form.end, { 'label': 'Koniec' }) }}

    {{ form_row(form.city, { 'label' : 'Miasto'} ) }}
    {{ form_row(form.place, { 'label': 'Miejsce' }) }}
    {{ form_row(form.street, { 'label': 'Ulica' }) }}

<button type="submit" class="btn btn-primary" formnovalidate>Zapisz</button>
{{ form_end(form) }}
