{% import '_macros/macro.html.twig' as macro %}
{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ club.name }}</h1>
                <div>
               {% if club.city %} Miasto : {{ club.city }} <br> {% endif %}
               {% if club.street %} Ulica : {{ club.street }} <br> {% endif %}
               {% if club.www %} Www : <a href="http://{{ club.www }}">{{ club.www }}</a> <br> {% endif %}

                </div>
                <h2>{{ macro.recordLabel(club) }}</h2>
                <table id="table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nazwisko i Imię</th>
                        <th>Rekord</th>
                        <th>Płeć</th>
                        <th>Wiek</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in club.users %}
                        <tr>
                            <td><a href="{{ user.href }}"> {{ user.surname }} {{ user.name }}</a></td>
                            <td> {{ macro.record(user) }}</td>
                            <td> {{ user.male ?  'M' : 'K' }}</td>
                            <td> {{ user.birthDay|getAge }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
