{% macro record(user) %}
    <span style="color: #5cb85c">{{ user.record.win }} </span>
    <span style="color: #f0ad4e">{{ user.record.draw }} </span>
    <span style="color: #d9534f">{{ user.record.lose }} </span>
{% endmacro %}

{% macro recordLabel(user) %}
<span class="label label-success">W: {{ user.record.win }}</span>
<span class="label label-warning">D: {{ user.record.draw }}</span>
<span class="label label-danger">L: {{ user.record.lose }}</span>
{% endmacro %}

{% macro showAgeCategory(user) %}
     {% if user.birthDay %}
         {% set age = user.birthDay |getAge %}
         {{ age }} lat
         {% if(age <= 13) %}
             (adept)
         {% elseif(age == 14) %}
             (młodzik)
         {% elseif(age == 15 or age == 16) %}
             (kadet)
         {% elseif(age == 17 or age == 18) %}
             (junior)
         {% elseif(age >= 19 and age <= 23) %}
             (młodzieżowiec)
         {% elseif(age > 23 ) %}
             (senior)
         {% endif %}
     {% endif %}
{% endmacro %}

{% macro fightResultForUserFight(userFight) %}

    {% if userFight.result == 'win' or userFight.result == 'win_ko' %}
        <span class="label label-success">W</span>
    {% elseif userFight.result == 'lose' %}
        <span class="label label-danger">L</span>
    {% elseif userFight.result == 'draw' %}
        <span class="label label-warning">D</span>
    {% elseif userFight.result == 'disqualify'%}
        <span class="label label-dark">DQ</span>
    {% endif %}

{% endmacro %}

{% macro fightResult(usersFight) %}
    {% for userFight in usersFight %}
{% if app.request.pathinfo == userFight.user.href %}
	
	{% import _self as macro %}
	
	{{ macro.fightResultForUserFight(userFight) }}

{% endif %}
    {% endfor %}

{% endmacro %}

{% macro opponent(usersFight) %}
    {% import _self as macro %}

    {% for userFight in usersFight %}
        {% if app.request.pathinfo != userFight.user.href %}

                <div> {{ macro.record(userFight.user) }} </div>
                <a href="{{ userFight.user.href }}">{{ userFight.user.name }} {{ userFight.user.surname }}</a>

        {% endif %}
    {% endfor %}

{% endmacro %}

{% macro awards(usersFight) %}

    {% for userFight in usersFight %}
        {% if app.request.pathinfo == userFight.user.href and userFight.awards %}

            <i class="fas fa-trophy fa"></i> <small> {{ userFight.awards[0].name}} </small>

        {% endif %}
    {% endfor %}

{% endmacro %}



{% macro formatYMDdzienTygodnia(dateVar) %}

    {{ dateVar | date('Y-m-d') }} ({{ dateVar |localizeddate('none', 'full', app.request.locale, null, 'cccc') }})

{% endmacro %}


{#{% macro table(fights, row) %}#}
    {#{% import _self as macro %}#}

    {#<div>#}
        {#<span class="label label-success">W</span> - Win (Wygrana)#}
        {#<span class="label label-warning">D</span> - Draw (Remis)#}
        {#<span class="label label-danger">L</span> - Loss (Przegrana)#}
    {#</div>#}

    {#<table id="table-fight" class="table">#}
        {#<thead>#}
        {#<tr>#}
            {#<th class="text-center">{% if row.order %} Kolejność {% endif %}</th>#}
            {#<th>#}
                {#Zawodnik 1 <br>#}
                {#<span class="label label-danger">Narożnik Czerwony</span>#}
            {#</th>#}
            {#<th>#}
                {#Zawodnik 2 <br>#}
                {#<span class="label label-primary">Narożnik Niebieski</span>#}
            {#</th>#}
            {#<th class="text-center">Płeć</th>#}
            {#<th class="text-center">Formuła</th>#}
            {#<th class="text-center">Kat. wagowa</th>#}
            {#{% if row.tournament %}#}
                {#<th class="text-center">Turniej</th>#}
            {#{% endif %}#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for fight in fights %}#}
            {#<tr>#}
                {#<td class="text-center">#}
                    {#{% if row.order %} {{ "%02d"|format(loop.index) }} {% endif %}#}
                    {#<a href="{{ path('fight_show', {'id': fight.id }) }}">#}
                        {#Szczegóły#}
                        {#{% if fight.youtubeId %}#}
                            {#<img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'>#}
                        {#{% endif %}#}
                    {#</a>#}
                {#</td>#}
                {#{% for user in fight.usersFight %}#}
                    {#<td>#}
                        {#<a href="{{ path('user_show', {'id': user.user.id }) }}">#}
                            {#<div>#}
                            {#{{ user.user.surname }} {{ user.user.name }} WDLQ<br>#}
                            {#{{ macro.record(user.user) }}#}
                            {#{% if user.user.club %} <br> ({{ user.user.club }}) {% endif %}#}
                            {#</div>#}
                        {#</a>#}
                        {#{% if user.user.birthDay %}#}
                            {#{% set age = user.user.birthDay |getAge %}#}
                            {#{{ age }} lat {{ age <= 18 ? '(Junior)' }}#}
                        {#{% endif %}#}
                    {#</td>#}
                {#{% endfor %}#}
                {#<td class="text-center">{{ fight.usersFight[0].user.male ? 'M' : 'K' }}</td>#}
                {#<td class="text-center">{{ fight.formula }}</td>#}
                {#<td class="text-center">{{ fight.weight }}</td>#}
                {#{% if row.tournament %}#}
                    {#<td class="text-center"><a#}
                                {#href="{{ path('fight_show', {'id': fight.id }) }}">{{ fight.tournament.name }}</a>#}
                    {#</td> {% endif %}#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
{#{% endmacro %}#}