<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        {% if tournament is not empty %}
            <h1 class="text-center">{{ tournament.name }}</h1>
            <p class="text-center" id="demo"></p>
            <p class="text-center"> Liczba zapisanych: {{ tournament.getSignUpTournament| length }} / {{ tournament.capacity }}</p>
           <p class="text-center"><a style="font-size: 30px" href="{{ path('view_tournament_signup', { id : tournament.id}) }}">ZAPISY</a></p>
        {% endif %}

        {% if tournament is not empty and tournament.fightsReady is not empty %}
            <table id="table-fights" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        Zawodnik 1 <br>
                        <span class="label label-danger">Narożnik Czerwony</span>
                    </th>
                    <th>
                        Zawodnik 2 <br>
                        <span class="label label-primary">Narożnik Niebieski</span>
                    </th>
                    <th>Dyscyplina</th>
                    <th>Płeć</th>
                    <th>Klasa</th>
                    <th>Kat. Wagowa</th>
                </tr>
                </thead>
            </table>

        {% endif %}

        {% if tournament %}
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/jJtTTpD4alo"
        allowfullscreen></iframe>
        </div>
        <br>
        <br>
        {% endif %}

        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {% if tournament %}
                <img class="img-responsive" src="{{ tournament.poster }}">
            {% endif %}
        </div>
    </div>
</div>

<script src="{{ asset('js/fight_table.js') }}"></script>
<script>
    $(document).ready(function () {

        {%  if tournament %}
        // Set the date we're counting down to
        var countDownDate = new Date("{{ tournament.start|date('Y-m-d') }}").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 1000);
        {% endif %}

        var t = $('#table-fights').DataTable({
            "ajax": "{{ path('api_tournament_fight_list', {id: tournamentId}) }}",
            "columns": [
                {data: null},
                {
                    mData: function (data) {
                        var temp = (data.youtubeId === null) ? '' : " <img class='youtube-icon' src='{{ asset('img/YouTube-icon-full_color.png') }}'></a>";

                        return "<a href='" + data.href + "'>Szczegóły</a>" + temp + "<br>" + data.description + isLicence(data);
                    }
                },
                {
                    mData: function (data) {

                        return record(data.usersFight[0].user) + '<br>' +
                            "<a href='" + data.usersFight[0].user.href + "'>" + data.usersFight[0].user.surname + ' ' + data.usersFight[0].user.name + '</a> ' +
                            fightResult(data.usersFight[0]) + club(data.usersFight[0].user) + '<br>' + age(data.usersFight[0].user)
                            ;
                    }
                },
                {
                    mData: function (data) {

                        return record(data.usersFight[1].user) + '<br>' +
                            "<a href='" + data.usersFight[1].user.href + "'>" + data.usersFight[1].user.surname + ' ' + data.usersFight[1].user.name + '</a> ' +
                            fightResult(data.usersFight[1]) + club(data.usersFight[1].user) + '<br>' + age(data.usersFight[1].user)
                            ;
                    }
                },
                {
                    mData: function (data) {
                        return data.discipline;
                    }
                },
                {
                    mData: function (data) {
                        return data.usersFight[1].user.male ? 'M' : 'K';
                    }
                },
                {
                    mData: function (data) {
                        return data.formula;
                    }
                },
                {
                    mData: function (data) {
                        return data.weight;
                    }
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Polish.json"
            },
            "bPaginate": false,
            "dom": 'lifrtp'
        });

        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

    });

</script>