<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        {% if tournament is not empty %}
            <h1 class="text-center">{{ tournament.name }}</h1>
            <p class="text-center" id="demo"></p>
            <p class="text-center"> Liczba zapisanych: {{ tournament.getSignUpTournament| length }} / {{ tournament.capacity }}</p>
           <p class="text-center"><a style="font-size: 30px" href="{{ path('view_tournament_signup', { id : tournament.id}) }}">ZAPISY</a></p>
        {% endif %}

        {% if tournament is not empty and tournament.fightsReady is not empty %}
            <table id="table-fights" class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>
                        Zawodnik 1 <br>
                        <span class="label label-danger">Narożnik Czerwony</span>
                    </th>
                    <th>
                        Zawodnik 2 <br>
                        <span class="label label-primary">Narożnik Niebieski</span>
                    </th>
                    <th>Dyscyplina</th>
                    <th>Płeć</th>
                    <th>Klasa</th>
                    <th>Kat. Wagowa</th>
                </tr>
                </thead>
            </table>

        {% endif %}

        {% if tournament %}
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/jJtTTpD4alo"
        allowfullscreen></iframe>
        </div>
        <br>
        <br>
        {% endif %}

        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {% if tournament %}
                <img class="img-responsive" src="{{ tournament.poster }}">
            {% endif %}
        </div>
    </div>
</div>
