<p>Wybierz klasę oraz kategorię wagową w której chcesz walczyć:</p>
Klasy zawodników wg. stopnia zaawansowania:<br>
<ul>
    <li>A – zawodnicy z występami na zawodach rangi Mistrzostw Polski lub aspirujący do nich. Conajmniej kilkanaście występów amatorskich. Prezentujący wysokie wyszkolenie techniczne i motoryczne. W klasie tej na odpowiedzialność trenera wystąpić może zawodnik z klasy B.</li>
    <li>B – zawodnicy średniej klasy. 3 lub więcej pojedynków amatorskich bez występów na zawodach ogólnopolskich. W klasie tej na odpowiedzialność trenera wystąpić może zawodnik z klasy C.</li>
    <li>C – osoby początkujące i trenujące rekreacyjnie. Góra kilka walk amatorskich. Dodatkowo uwzględniamy w zgłoszeniu staż treningowy.</li>
</ul>
<div class="col-md-8">
    {{ form_start(form) }}
    {{ form_row(form.discipline,{ 'label' : 'Dyscyplina', 'placeholder' : 'Wybierz dyscypline'} ) }}
    {{ form_row(form.formula,{ 'label' : 'Klasa', 'placeholder' : 'Wybierz klasę'} ) }}
    {{ form_row(form.weight, { 'label': 'Kategoria wagowa', 'placeholder':'Wybierz kategorie wagową' }) }}
    {{ form_row(form.trainingTime, {
        'label': 'Staż treningowy (opcjonalnie) - liczba miesięcy',
        'attr': {'min': 0, 'max' : 99 }}) }}
    <button type="submit" class="btn btn-primary" formnovalidate >Wyślij moje zgłoszenie </button>
    {{ form_end(form)  }}
</div>
</div>

