{% import '_macros/macro.html.twig' as macro %}

    <div class="col-xs-6 col-xs-offset-3">

        <h3 class="text-center">
            <span class="label label-success">W: {{ user.fightersRecord.win }}</span>
            <span class="label label-warning">D: {{ user.fightersRecord.draw }}</span>
            <span class="label label-danger">L: {{ user.fightersRecord.lose }}</span>
        </h3>


    </div>

    {% if user.fighters|length == 0 %} <h4 class="text-center">Brak przypisanych zawodników</h4>
    {% else %}

    <table class="table">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nazwisko i Imię</th>
            <th class="text-center">Rekord</th>
            <th class="text-center">Płeć</th>
            <th class="text-center">Wiek</th>
            <th class="text-center">Klub</th>
        </tr>
        {% for user in user.fighters %}
            <tr>
                <td> {{ loop.index }}</td>
                <td class="text-center">
                    <a href="{{ user.href }}">   {{ user.surname }} {{ user.name }}</a>
                </td>
                <td class="text-center">
                    {{ macro.record(user) }}
                </td>
                <td class="text-center"> {{ user.male ? 'M' : 'K' }}</td>
                <td class="text-center"> {{ user.birthDay | getAge }}</td>
                <td class="text-center">
                    {% if user.club %}
                        <a href="{{ user.club.href }}"> {{ user.club.name }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}